In [46]:
from pyspark.sql import SparkSession

In [47]:
spark = (SparkSession.builder         
         .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
         .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")
         .config("spark.sql.catalogImplementation", "hive")
         .config("spark.hadoop.hive.metastore.uris", "thrift://metastore:9083")
         .enableHiveSupport()
         .getOrCreate())

CSV

In [48]:
df_csv = spark.read.csv("s3a://delta-lake/Churn.csv",
                    header=True, 
                    inferSchema=True,
                    sep=";")
df_csv.select("CreditScore", "Geography", "Gender", "Age", "Tenure", "Balance").show(5)

AnalysisException: Path does not exist: s3a://delta-lake/Churn.csv

Json

In [9]:
df_json = spark.read.json("s3a://tmp/test_data.json")
df_json.show()

+--------------+---+-----+-------+
|        cidade| id|idade|   nome|
+--------------+---+-----+-------+
|     SÃ£o Paulo|  1|   30|  Alice|
|Rio de Janeiro|  2|   25|  Bruno|
|Belo Horizonte|  3|   40|  Carla|
|      Curitiba|  4|   35| Daniel|
|  Porto Alegre|  5|   28|Eduarda|
+--------------+---+-----+-------+

Parquet

In [17]:
df_parquet = spark.read.parquet("s3a://delta-lake/demo4")
df_parquet.select("home_teamName", "away_teamName", "cityCity").show(5)

+-------------+-------------+--------+
|home_teamName|away_teamName|cityCity|
+-------------+-------------+--------+
|     Scotland|      England| Glasgow|
|      England|     Scotland|  London|
|     Scotland|      England| Glasgow|
|      England|     Scotland|  London|
|     Scotland|      England| Glasgow|
+-------------+-------------+--------+
only showing top 5 rows

Delta

In [21]:
df_delta = spark.read.format("delta").load("s3a://delta-lake/demo4/")
df_delta.show(5)

+----------+-------------+-------------+--------------+--------------+--------------+--------+--------------+-----------+
|        dt|home_teamName|away_teamName|home_scoreHome|away_scoreAway|tournamentName|cityCity|countryCountry|neutralTRUE|
+----------+-------------+-------------+--------------+--------------+--------------+--------+--------------+-----------+
|1872-11-30|     Scotland|      England|             0|             0|      Friendly| Glasgow|      Scotland|      FALSE|
|1873-03-08|      England|     Scotland|             4|             2|      Friendly|  London|       England|      FALSE|
|1874-03-07|     Scotland|      England|             2|             1|      Friendly| Glasgow|      Scotland|      FALSE|
|1875-03-06|      England|     Scotland|             2|             2|      Friendly|  London|       England|      FALSE|
|1876-03-04|     Scotland|      England|             3|             0|      Friendly| Glasgow|      Scotland|      FALSE|
+----------+-------------+-------------+--------------+--------------+--------------+--------+--------------+-----------+
only showing top 5 rows

Analisando Tabela/DataFrame e suas colunas

In [23]:
df_parquet.show(10, truncate=False, vertical=True)

-RECORD 0--------------------
 dt             | 1872-11-30
 home_teamName  | Scotland
 away_teamName  | England
 home_scoreHome | 0
 away_scoreAway | 0
 tournamentName | Friendly
 cityCity       | Glasgow
 countryCountry | Scotland
 neutralTRUE    | FALSE
-RECORD 1--------------------
 dt             | 1873-03-08
 home_teamName  | England
 away_teamName  | Scotland
 home_scoreHome | 4
 away_scoreAway | 2
 tournamentName | Friendly
 cityCity       | London
 countryCountry | England
 neutralTRUE    | FALSE
-RECORD 2--------------------
 dt             | 1874-03-07
 home_teamName  | Scotland
 away_teamName  | England
 home_scoreHome | 2
 away_scoreAway | 1
 tournamentName | Friendly
 cityCity       | Glasgow
 countryCountry | Scotland
 neutralTRUE    | FALSE
-RECORD 3--------------------
 dt             | 1875-03-06
 home_teamName  | England
 away_teamName  | Scotland
 home_scoreHome | 2
 away_scoreAway | 2
 tournamentName | Friendly
 cityCity       | London
 countryCountry | England
 neutralTRUE    | FALSE
-RECORD 4--------------------
 dt             | 1876-03-04
 home_teamName  | Scotland
 away_teamName  | England
 home_scoreHome | 3
 away_scoreAway | 0
 tournamentName | Friendly
 cityCity       | Glasgow
 countryCountry | Scotland
 neutralTRUE    | FALSE
-RECORD 5--------------------
 dt             | 1876-03-25
 home_teamName  | Scotland
 away_teamName  | Wales
 home_scoreHome | 4
 away_scoreAway | 0
 tournamentName | Friendly
 cityCity       | Glasgow
 countryCountry | Scotland
 neutralTRUE    | FALSE
-RECORD 6--------------------
 dt             | 1877-03-03
 home_teamName  | England
 away_teamName  | Scotland
 home_scoreHome | 1
 away_scoreAway | 3
 tournamentName | Friendly
 cityCity       | London
 countryCountry | England
 neutralTRUE    | FALSE
-RECORD 7--------------------
 dt             | 1877-03-05
 home_teamName  | Wales
 away_teamName  | Scotland
 home_scoreHome | 0
 away_scoreAway | 2
 tournamentName | Friendly
 cityCity       | Wrexham
 countryCountry | Wales
 neutralTRUE    | FALSE
-RECORD 8--------------------
 dt             | 1878-03-02
 home_teamName  | Scotland
 away_teamName  | England
 home_scoreHome | 7
 away_scoreAway | 2
 tournamentName | Friendly
 cityCity       | Glasgow
 countryCountry | Scotland
 neutralTRUE    | FALSE
-RECORD 9--------------------
 dt             | 1878-03-23
 home_teamName  | Scotland
 away_teamName  | Wales
 home_scoreHome | 9
 away_scoreAway | 0
 tournamentName | Friendly
 cityCity       | Glasgow
 countryCountry | Scotland
 neutralTRUE    | FALSE
only showing top 10 rows

In [40]:
spark.sql("SHOW DATABASES").show()
spark.sql("use desp")

+---------+
|namespace|
+---------+
|  default|
|     desp|
+---------+

DataFrame[]

In [45]:
spark.sql("select * from churn_geo").show()

+-----------+------+---+------+--------+-------------+---------+--------------+---------------+------+---------+
|CreditScore|Gender|Age|Tenure| Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|Geography|
+-----------+------+---+------+--------+-------------+---------+--------------+---------------+------+---------+
|        619|Female| 42|     2|       0|            1|        1|             1|       10134888|     1|   France|
|        502|Female| 42|     8| 1596608|            3|        1|             0|       11393157|     1|   France|
|        699|Female| 39|     1|       0|            2|        0|             0|        9382663|     0|   France|
|        822|  Male| 50|     7|       0|            2|        1|             1|         100628|     0|   France|
|        501|  Male| 44|     4|14205107|            2|        0|             1|         749405|     0|   France|
|        684|  Male| 27|     2|13460388|            1|        1|             1|        7172573|     0|   France|
|        528|  Male| 31|     6|10201672|            2|        0|             0|        8018112|     0|   France|
|        476|Female| 34|    10|       0|            2|        1|             0|        2626098|     0|   France|
|        549|Female| 25|     5|       0|            2|        0|             0|       19085779|     0|   France|
|        726|Female| 24|     6|       0|            2|        1|             1|        5472403|     0|   France|
|        732|  Male| 41|     8|       0|            2|        1|             1|       17088617|     0|   France|
|        669|  Male| 46|     3|       0|            2|        0|             1|         848775|     0|   France|
|        846|Female| 38|     5|       0|            1|        1|             1|       18761616|     0|   France|
|        577|  Male| 25|     3|       0|            2|        0|             1|       12450829|     0|   France|
|        571|  Male| 44|     9|       0|            2|        0|             0|        3843335|     0|   France|
|        411|  Male| 29|     0| 5969717|            2|        1|             1|        5348321|     0|   France|
|        533|  Male| 36|     7|  853117|            1|        0|             1|       15673191|     0|   France|
|        475|Female| 45|     0|13426404|            1|        1|             0|        2782299|     1|   France|
|        850|  Male| 36|     7|       0|            1|        1|             1|         408129|     0|   France|
|        465|Female| 51|     8|12252232|            1|        0|             0|       18129765|     1|   France|
+-----------+------+---+------+--------+-------------+---------+--------------+---------------+------+---------+
only showing top 20 rows