In [14]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.dbutils import DBUtils

ModuleNotFoundError: No module named 'pyspark.dbutils'

In [2]:
spark = (
    SparkSession
    .builder
    .appName("Spark - tratando nulos ou vazios")
    .enableHiveSupport()
    .getOrCreate()
)

In [6]:
df = spark.createDataFrame([
    (4, 'a', None),
    (2, None, 0),
    (None, 'b', 1)
], ['valor', 'letra', 'sim_nao'])

df.show()

+-----+-----+-------+
|valor|letra|sim_nao|
+-----+-----+-------+
|    4|    a|   null|
|    2| null|      0|
| null|    b|      1|
+-----+-----+-------+

In [7]:
df.agg(F.count('letra')).show()

+------------+
|count(letra)|
+------------+
|           2|
+------------+

In [8]:
airbnb = spark.read.csv('s3a://tmp/sf-airbnb.csv',
                        header=True,
                        inferSchema=True,
                        sep=',')
airbnb.show(5)

+----+--------------------+-------+----------------+-------------------+----------------+--------+----------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
|  id|                name|host_id|       host_name|neighbourhood_group|   neighbourhood|latitude| longitude|      room_type|price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|
+----+--------------------+-------+----------------+-------------------+----------------+--------+----------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
| 958|Bright, Modern Ga...|   1169|           Holly|               null|Western Addition|37.76931|-122.43386|Entire home/apt|  170|             1|              194|  5/31/2019|              1.6|                           1.0|              92|
|3850|Charming room for...|   4921|           Kevin|               null|    Inner Sunset|37.75402|-122.45805|   Private room|   99|             1|              126|   7/4/2019|             1.04|                           3.0|              68|
|5858|  Creative Sanctuary|   8904|Philip And Tania|               null|  Bernal Heights|37.74511|-122.42102|Entire home/apt|  235|            30|              111|   8/6/2017|              0.9|                           1.0|               0|
|7918|A Friendly Room -...|  21994|           Aaron|               null|  Haight Ashbury|37.76669| -122.4525|   Private room|   65|            32|               17| 11/21/2016|             0.14|                           9.0|             365|
|8142|Friendly Room Apt...|  21994|           Aaron|               null|  Haight Ashbury|37.76487|-122.45183|   Private room|   65|            32|                8|  9/12/2018|             0.14|                           9.0|             338|
+----+--------------------+-------+----------------+-------------------+----------------+--------+----------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
only showing top 5 rows

In [9]:
airbnb.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- host_id: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- neighbourhood_group: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- price: string (nullable = true)
 |-- minimum_nights: integer (nullable = true)
 |-- number_of_reviews: string (nullable = true)
 |-- last_review: string (nullable = true)
 |-- reviews_per_month: string (nullable = true)
 |-- calculated_host_listings_count: double (nullable = true)
 |-- availability_365: integer (nullable = true)

In [15]:
# Recurso para mostrar os detalhes sobre o DataFrame
airbnb_pd = airbnb.toPandas()
summary_airbnb = airbnb_pd.describe(include='all')
print(summary_airbnb)

          id                name   host_id host_name neighbourhood_group  \
count   7745                7745      7738      7729                   8
unique  7745                7491      4205      2132                   8
top      958  The Bartlett QUEEN  48005494      Zeus             Cathryn
freq       1                  26       249       249                   1
mean     NaN                 NaN       NaN       NaN                 NaN
std      NaN                 NaN       NaN       NaN                 NaN
min      NaN                 NaN       NaN       NaN                 NaN
25%      NaN                 NaN       NaN       NaN                 NaN
50%      NaN                 NaN       NaN       NaN                 NaN
75%      NaN                 NaN       NaN       NaN                 NaN
max      NaN                 NaN       NaN       NaN                 NaN

       neighbourhood  latitude   longitude        room_type price  \
count           7737      7738        7738             7738  7738
unique            43      4923        4997               11   517
top          Mission  37.78811  -122.40925  Entire home/apt   150
freq             738         8           8             4699   262
mean             NaN       NaN         NaN              NaN   NaN
std              NaN       NaN         NaN              NaN   NaN
min              NaN       NaN         NaN              NaN   NaN
25%              NaN       NaN         NaN              NaN   NaN
50%              NaN       NaN         NaN              NaN   NaN
75%              NaN       NaN         NaN              NaN   NaN
max              NaN       NaN         NaN              NaN   NaN

        minimum_nights number_of_reviews last_review reviews_per_month  \
count     7.738000e+03              7737        6165              6166
unique             NaN               393         821               802
top                NaN                 0   6/30/2019                 1
freq               NaN              1573         276               106
mean      1.293979e+04               NaN         NaN               NaN
std       1.136804e+06               NaN         NaN               NaN
min       0.000000e+00               NaN         NaN               NaN
25%       2.000000e+00               NaN         NaN               NaN
50%       4.000000e+00               NaN         NaN               NaN
75%       3.000000e+01               NaN         NaN               NaN
max       1.000000e+08               NaN         NaN               NaN

        calculated_host_listings_count  availability_365
count                      7738.000000       7731.000000
unique                             NaN               NaN
top                                NaN               NaN
freq                               NaN               NaN
mean                         21.369029        152.959643
std                          53.275268        129.561563
min                           1.000000          0.000000
25%                           1.000000         25.000000
50%                           2.000000        129.000000
75%                           8.000000        290.000000
max                         319.000000        365.000000